@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-backdrop: #306da7;
    --slate-900: #0f172a;
}

[x-cloak] {
    display: none;
}

.title{
    filter: drop-shadow(0px 0px 60px var(--color-backdrop));
}

#main-content {
background: radial-gradient(circle, rgb(246, 126, 255) -200%, rgba(15,23,42,1) 64%);
}